html, body, #root, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  pointer-events: none;
}


.overlay-content {
  background-color: rgba(124, 232, 151, 0.5);
  padding: 1%;
  border-radius: 10%;
  pointer-events: auto;
}


.overlay-message {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  margin: 5%;
  
}